body{
	background-color: grey;
	font-family: "San Francicsco", sans-serif;;
}

h1 {
	text-align: center;
}

.flex-container-years {
	background-color: grey;
	display: flex;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.year {
	background-color: lightgrey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 50px;
	width: 150px;
	border-radius: 25px;
	text-align: center;
}

.flex-container-cards {
	background-color: grey;
	display: flex;
	height: 650px;
	gap: 50px;
	justify-content: center;
	align-items: center;
}

.card {
	background-color: lightgray;
	border-color: none;
	font-size: 35px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	height: 600px;
	width: 400px;
	border-radius: 20px;
	text-align: center;
}

.circle {
	background-color: lightgray;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: flex;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right:15px solid grey;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid grey;
}